.colored-tag-button {
    border: none;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 10px;
    transition-duration: 1s;
    transition-property: filter;
  }
  .colored-tag-button:hover {
    text-decoration: none;
    filter: brightness(0.7);
    transition-duration: 0.3s;
  }
  